*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cajagrande{
    width: 50%;
    height: 60vh;
    border: 2px solid black;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    margin-top: 100px;
}

.subcaja1{
    border-right: 2px solid black;
    width: 50%;
}

.subcaja2{
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    width: 50%;
}

.icon_left{
    margin-left: 10px;
}

.icon_right{
    margin-right: 10px;
}

span{
    position: absolute;
    right:10px;
    margin-right: 10px;
}

#asidebar{
    height: 75vh;
    border: 1px solid black; 
    margin-top: 15px;
}

.color_black{
    color: black;
}

.cuadroicon{
    width: 50px;
    height: 50px;
}

.cuadrocontenido{
    border: 1px black solid;
    height: 65.7vh;
    padding: 30px;
}

.addflex{
    display: flex;
    flex-direction: row;
}

.centrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}


#calculador{
    border: 1px black solid;
    padding: 20px;
    padding-left: 70px;
    padding-right: 70px;
    width: 400px;
    height: 200px;
}

.cuadroform{
    border: 1px black solid;
    padding: 30px;
    width: 50%;
    border-right: none;
}

.resultado2{
    border: 1px black solid;
    padding: 30px;
    padding-left: 70px;
    padding-top: 70px;
    width: 50%;
}

li{
    margin-bottom: 20px;
}

.size_res_card{
    color: blue;
    font-weight: bold;
    font-size: 15px;
}

.footer{
    text-align: right;
    color: black;
    padding-right: 20px;
    padding-top: 15px;
    margin-top: 20px;
    width: 100%;
    height: 60px;
    border: 1px black solid;
}